

  
.divPrincipal {
    text-align: center;
    background-color: white;
    width: 500px;
    height: 550px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.divLogo img{
    width: 150px;
    height: 150px;
}

.h1{
    color: black;
    margin-top: -20px;
}

.divEmailLogin{
    height: 80px;
    width: 80px;
    margin: -10px;
    
}
.divEmailLogin input:focus{
    border-bottom: 2px solid rgb(97, 164, 222);
    transition: 0.5s;
}
  
.labelEmailLogin {
    font-size: 20px;
    margin-left: -150px;
    color: black;
    margin-top: 50px;
    
   
    
}

.inputEmailLogin{
    /* background-color: aqua; */
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    border-color: rgb(215, 194, 194);
    margin-left: -65px;
    border-bottom: 2px solid rgb(18, 12, 12);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    outline: 0;
    
}

.divSenhaLogin{
    margin-top: 20px;
}
.divSenhaLogin input:focus{
    border-bottom: 2px solid rgb(97, 164, 222);
    transition: 0.5s;
}


.labelSenhaLogin{
    font-size: 20px;
    margin-left: -150px;
    color: black;
    margin-top: 50px;
    
}

.inputSenhaLogin{
    /* background-color: aqua; */
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    border-color: rgb(215, 194, 194);
    margin-left: -8px;
    border-bottom: 2px solid rgb(18, 12, 12);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    outline: 0;
    
}

.buttonEntrar{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-color:  rgb(97, 164, 222);
    
}
.buttonEntrar:hover{
    transition: 0.2s;
    background-color: rgb(97, 164, 222);
    border: none;
    color: white;
    border-bottom: 2px solid rgb(174, 170, 170);
    outline: 0;
}
.buttonEntrar:focus {
    transition-duration: 0.2s;
    background-color: black;
    color: rgb(97, 164, 222);

}

.CadastreseLogin button{
    border: none;
    background-color: white;
    font-size: 15px;
    margin-top: 12px;
    cursor: pointer;
}
.CadastreseLogin button:hover{
    color: rgb(97, 164, 222);
}

.funcionarioPrefeituraLogin button{
    border: none;
    background-color: white;
    font-size: 15px;
    margin-top: 12px;
    cursor: pointer;
}
.funcionarioPrefeituraLogin button:hover{
    color: rgb(97, 164, 222);
}
.buttonEntrarComoPrefeitura{
    margin-left: -4px;
    margin-top: 10px;
}